@model TaskManagementApp.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginRegister_Layout.cshtml";
}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="@Url.Content("~/Content/Images/Logo.png")" width="180" alt="">
                            </a>
                            <p class="text-center">Your All-In-One Task Management App</p>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.ValidationSummary()
                                <div class="card-body px-4 py-3">
                                    <div class="row mb-3 text-center">
                                        <h5>Login</h5>
                                    </div>
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.Username)
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Username)
                                    </div>
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                    <div class="justify-content-between d-flex align-items-center mb-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input primary" })
                                            @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label text-dark" })
                                        </div>
                                        <a class="text-primary fw-bold" href="@Url.Action("ForgotPassword", "Account")">Forgot Password ?</a>
                                    </div>

                                    @Html.AntiForgeryToken()
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mb-3">Login</button>
                                    </div>
                                    <hr />
                                    <div class="row text-center">
                                        <p>Don't have an account yet? <a href="@Url.Action("Register", "Account")" class="nav-link fw-semibold d-inline">Sign Up Now</a></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
