@model TaskManagementApp.ViewModels.EditUserViewModel

@{
    string currTask = string.Empty;
    string action = string.Empty;

    if (Model.UserId == null)
    {
        currTask = "New User";
        action = "New User";
        ViewBag.Title = "New User";
    }
    else
    {
        currTask = Model.UserName;
        action = "Edit User";
        ViewBag.Title = "Edit User";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("UserManagement", "System")">System Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@currTask</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">@action</h5>
                        @using (Html.BeginForm("NewUser", "System", FormMethod.Post))
                        {
                            @Html.ValidationSummary()
                            <div class="card-body px-4 py-3">
                                <div class="row mb-3 ">
                                    <div class="col-md-6 p-0">
                                        @Html.LabelFor(m => m.FirstName)
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FirstName)
                                    </div>
                                    <div class="col-md-6 p-0">
                                        @Html.LabelFor(m => m.LastName)
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.LastName)
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                @if (Model.UserId != null)
                                {
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.CurrentPassword)
                                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                                    </div>
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                    <div class="row mb-3">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                }
                                @Html.HiddenFor(m => m.UserId)
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-primary float-end mb-3">Create User</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

