@model TaskPilot.Web.ViewModels.TaskDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "_Layout";
}

@{
    var statusString = string.Empty;
    var priorityString = string.Empty;

    switch (Model.Status)
    {
        case "New":
            statusString = "badge bg-primary";
            break;
        case "In-Progress":
            statusString = "badge bg-warning text-dark";
            break;
        case "Resolved":
            statusString = "badge bg-success";
            break;
        case "Closed":
            statusString = "badge bg-secondary";
            break;
        case "Removed":
            statusString = "badge bg-danger";
            break;
    }

    switch (Model.Priority)
    {

        case "High":
            priorityString = "badge bg-danger";
            break;
        case "Medium":
            priorityString = "badge bg-warning text-dark";
            break;
        case "Low":
            priorityString = "badge bg-success";
            break;
        case "Lowest":
            priorityString = "badge text-dark";
            break;
    }

}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-2" style="background: rgba(255, 255, 255, 0.2); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3); width:100vh;">
        <div class="card-header" style="border-radius: 16px">
            <a href="@Url.Action("MarkAsDone", "Task", new {Id = Model.Id})" class="btn btn-success btn-sm float-end">Done</a>
            <h5>@Model.Name</h5>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Task")">Task Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </nav>

        </div>
        <div class="card-body px-4 py-3">
            <div class="row mb-3 ">
                <p>@Model.Description</p>
            </div>
            <div class="row mb-4">
                <p class="fw-semibold m-0">Labels</p>
                <div class="col-md">
                    <i class="bi bi-tag"></i>
                    <span class="icon-link hover"><a href="@Url.Action("Update", "Task", new { Id = Model.Id })">Add Label</a></span>
                    <span class="@priorityString">@Model.Priority</span>
                    <span class="@statusString">@Model.Status</span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="row">
                    <div class="col-md">
                        <p class="fw-semibold m-0">Due Date</p>
                        <i class="bi bi-calendar-check"></i>
                        <span class="">@Model.DueDate.Value.ToString("dd/MM/yyyy")</span>
                    </div>
                    <div class="col-md">
                        <p class="fw-semibold m-0">Priority</p>
                        <i class="bi bi-calendar-check"></i>
                        <span class="@priorityString">@Model.Priority</span>
                    </div>
                    <div class="col-md">
                        <p class="fw-semibold m-0">Status</p>
                        <i class="bi bi-calendar-check"></i>
                        <span class="@statusString">@Model.Status</span>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="row">
                    <div class="col-md">
                        <p class="fw-semibold m-0">Reporter</p>
                        <i class="bi bi-person-vcard"></i>
                        <span class="">@Model.AssignFrom</span>
                    </div>
                    <div class="col-md">
                        <p class="fw-semibold m-0">Assignee</p>
                        <i class="bi bi-person-fill-check"></i>
                        <span>@Model.AssignTo</span>
                    </div>
                    <div class="col-md">
                        <p class="fw-semibold m-0">Date Created</p>
                        <i class="bi bi-calendar-x"></i>
                        <span>@Model.CreatedDate.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <hr />
            </div>
            <div class="row mb-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Comments</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Worklogs</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">History</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-3">
                            <div class="col-sm-2">
                                Photo
                            </div>
                            <div class="col-sm-10">
                                <div class="row">Name</div>
                                <div class="row">Comment</div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3">
                            <div class="col-sm-2">
                                Photo
                            </div>
                            <div class="col-sm-10">
                                <div class="row">Name</div>
                                <div class="row">Comment</div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3">
                            <div class="col-sm-2">
                                Photo
                            </div>
                            <div class="col-sm-10">
                                <div class="row">Name</div>
                                <div class="row">Comment</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</div>

