@{
    Layout = null;
}

@model TaskManagementApp.ViewModels.UserPermissionViewModel

<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        @*@if (Model.UserPermissions.Any(r => r.Name == "Index" && r.features.Name == "Dashboard"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                    <span>
                        <i class="bi bi-columns-gap"></i>
                    </span>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
        @*}*@
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Task Management</span>
        </li>
        @*@if (Model.UserPermissions.Any(r => r.Name == "Index" && r.features.Name == "Task"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "Task")" aria-expanded="false">
                    <span>
                        <i class="bi bi-clipboard"></i>
                    </span>
                    <span class="hide-menu">Task List</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "NewTask" && r.features.Name == "Task"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("NewTask", "Task")" aria-expanded="false">
                    <span>
                        <i class="bi bi-clipboard-plus"></i>
                    </span>
                    <span class="hide-menu">Create New Task</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "ImportTask" && r.features.Name == "Task"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("ImportTask", "Task")" aria-expanded="false">
                    <span>
                        <i class="bi bi-file-earmark-arrow-up"></i>
                    </span>
                    <span class="hide-menu">Import Task</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "UserManagement" && r.features.Name == "System"))
        {*@
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">System Management</span>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "User")" aria-expanded="false">
                    <span>
                        <i class="bi bi-person-add"></i>
                    </span>
                    <span class="hide-menu">User Management</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "RoleManagement" && r.features.Name == "System"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "Role")" aria-expanded="false">
                    <span>
                        <i class="bi bi-person-gear"></i>
                    </span>
                    <span class="hide-menu">Role Management</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "PriorityManagement" && r.features.Name == "System"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "Priority")" aria-expanded="false">
                    <span>
                        <i class="bi bi-sort-up"></i>
                    </span>
                    <span class="hide-menu">Priority Management</span>
                </a>
            </li>
        @*}
        @if (Model.UserPermissions.Any(r => r.Name == "StatusManagement" && r.features.Name == "System"))
        {*@
            <li class="sidebar-item">
                <a class="sidebar-link" href="@Url.Action("Index", "Status")" aria-expanded="false">
                    <span>
                        <i class="bi bi-check2-circle"></i>
                    </span>
                    <span class="hide-menu">Status Management</span>
                </a>
            </li>
        @*}*@
    </ul>
</nav>