@model TaskPilot.Web.ViewModels.VerifyPhoneNumberViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="card">
        <nav aria-label="breadcrumb" class="p-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-center align-items-center">
            <i class="bi bi-person-circle fw-bold" style="font-size: 10em;"></i>
        </div>
        <h1 class="text-center">User Profile</h1>
        <div class="card-body">
            <ul class="nav nav-tabs user-profile-tab" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="@Url.Action("Index", "Profile")" class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center fs-3 py-3">
                        <i class="bi bi-person-vcard me-2 fs-6"></i>
                        <span class="d-none d-md-block">Detail</span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="@Url.Action("EditPassword", "Profile")" class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center fs-3 py-3">
                        <i class="bi bi-key me-2 fs-6"></i>
                        <span class="d-none d-md-block">Credential</span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="@Url.Action("EditContact", "Profile")" class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center fs-3 py-3 active">
                        <i class="bi bi-telephone me-2 fs-6"></i>
                        <span class="d-none d-md-block">Contact</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-notifications" role="tabpanel" aria-labelledby="pills-notifications-tab" tabindex="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card w-100 border position-relative overflow-hidden">
                                <div class="card-body p-4">
                                    <h4 class="card-title">Change Contact</h4>
                                    <p class="card-subtitle mb-4">To change your contact detail click edit.</p>
                                    @using (Html.BeginForm("VerifyPhoneNumber", "Profile", FormMethod.Post))
                                    {
                                        <div class="mb-3">
                                            @Html.LabelFor(m => m.Code, new { @class = "form-label" })
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                        </div>
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("phoneNumber", Model.PhoneNumber)
                                        <div class="col-12" id="editDiv">
                                            <div class="d-flex align-items-center justify-content-end mt-4 gap-6">
                                                <button class="btn btn-primary" type="submit">Verify Phone</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}